NATURE_REMO_TOKEN='replace-with-nature-remo-token'
INFLUXDB_URL='http://localhost:8086'
INFLUXDB_USERNAME='admin'
INFLUXDB_PASSWORD='replace-with-a-long-password'
INFLUXDB_TOKEN='replace-with-a-random-token'
INFLUXDB_ORG='remo-monitor'
INFLUXDB_BUCKET='remo'
